<!DOCTYPE html>
<html>

<head>
  <title>Menú Principal</title>
  <link rel='stylesheet' href='/styles.css' />
</head>

<body class="center">
  <h1>
    <%= title %>
  </h1>
  <p>Bienvenido al <%= title %>
  </p>
  <div>
    <a href="/users" class="button">Ver Usuarios</a>
    <a href="/savings" class="button">Ver Cuentas de Ahorro</a>
    <a href="/loans" class="button">Ver Préstamos</a>
    <a href="/cooperatives" class="button">Ver Cooperativas</a>
  </div>
  <a href="/menu" class="button_delete">Volver al menú</a>
</body>

</html>