<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles.css' />
  </head>
  <body class="center">
    <h1><%= title %></h1>
    <p>Bienvenido al <%= title %></p>
    <div>
      <a href="auth/register" class="button">Registrarse</a>
      <a href="auth/login" class="button">Iniciar Sesión</a>
    </div>
  </body>
</html>
