<!DOCTYPE html>
<html>
  <head>
    <title>Próxima fecha de pago</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cuenta con id: <%= id %></h1>
    <h2>Próxima fecha de pago: <%= date %></h2>
  </body>
</html>