<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmar Eliminación</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>Confirmar Eliminación</h1>
  <p>¿Estás seguro de eliminar el préstamo con ID <%= loanId %>?</p>
  <button id="confirmDeleteButton" class="button_delete" data-loan-id="<%= loanId %>">Eliminar</button>
  <a href="/loans" class="button">Cancelar</a>

  <script>
    document.getElementById('confirmDeleteButton').addEventListener('click', function () {
      const loanId = this.getAttribute('data-loan-id');

      fetch(`/loans/${loanId}`, {
        method: 'DELETE'
      })
        .then(response => {
          window.location.href = '/loans';
        })
        .catch(error => {
          console.error('Error:', error);
          window.location.href = '/error';
        });
    }
    );
  </script>
</body>

</html>