<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Movimiento de Préstamo</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>Nuevo Movimiento de Préstamo</h1>
  <form action="/loans/<%= loanId %>/movements/admin" method="POST">
    <input type="hidden" id="loanId" name="loanId" value="<%= loanId %>">

    <label for="amount">Monto:</label>
    <input type="number" id="amount" name="amount" required>

    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" required>

    <label for="type">Tipo de Movimiento:</label>
    <select id="type" name="type" required>
      <option value="Interés">Interés</option>
      <option value="Capital">Capital</option>
    </select>

    <button type="submit">Crear Movimiento</button>
    <button onclick="goBack()" class="button_delete">Cancelar</button>
  </form>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>

</html>